

<nz-layout >

  <!-- APP-HEADER -->
  <nz-header>
    <app-medium-header></app-medium-header>
  </nz-header>

   <!-- APP-MAIN-BODY -->
  <nz-layout>

    <!-- SLIDER -->
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" >

      <ul nz-menu class="ul-st" style="" nzMode="inline">
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>File</span>
        </li>
      </ul>

    </nz-sider>
    
    <!-- MAIN CONTENT -->
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

  </nz-layout>  
</nz-layout>






