

nz-sider {
    background: black;
    color: #fff;
    line-height: 120px;
  }
  .ul-st {
    background: black;
    color: white
  }
  nz-layout {
    overflow: 'auto'; 
    min-height: 40vw;
  }

  nz-content { 
    height: 100%;
    line-height: 120px;
  }

  nz-footer {
   background-color:#1d001e;
   color: honeydew;
  }

  nz-header {
    padding: 0;
    background: 
    linear-gradient(to right, rgba(147,33,112,1) 0%,rgba(191,33,115,1) 50%,rgba(191,33,115,1) 53%,rgba(93,33,107,1) 100%);
  }

 
  